html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: wheat !important;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #232323;
    color: #ccc;
    flex-wrap: nowrap;
    .logo {
        letter-spacing: 3px;
    }
    
    .nav {
        display: flex;
        justify-content: space-around;
        .navlink {
            list-style: none;
            margin: 0;
            white-space: nowrap;
            padding: 15px;
            a {
                color: #ccc;
                text-decoration: none;
                font-size: 1.2em;
            }
        }
    }
    
    .burger {
        font-size: 1.2em;
        display: none;
    }
    
    @media screen and (max-width: 678px) {
        .burger {
            display: block;
        }
        .nav {
            margin: 0;
            background: #343434;
            position: absolute;
            right: -100%;
            top: 70px;
            width: 50%;
            height: calc(100% - 70px);
            flex-direction: column;
            justify-content: space-around;
            padding: 0;
            transition: all 400ms;
        }
        .navlink {
            text-align: center;
        }
    
        .nav-active {
            right: 0;
        }
    }
}

.replay-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.linkReplay{
    background-color: white;
    padding:15px;
    border-radius: 15px;
    width: 30%;
    margin-top: 15px;
    .link-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .linkReplayContent{
        display: flex;
        flex-direction: column;
    }
}

.categorie-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    .linkcategorie{
        border: solid 1px black;
        padding:15px;
        border-radius: 15px;
        background-color: white;
    }
}

.background-modal{
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    background-color: #000000d9;
    display:flex;
    &.hide{
        display: none;
    }
    .modal{
        margin:auto;
        min-width: 300px;
        max-width: 500px;
        padding: 30px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div{
            padding: 10px;;
        }
    }
}

.label-input{
    *{
        display: block;
    }
}

#Loader {
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    background-color: #000000d9;
    display:flex;
    &.hide{
        display: none;
    }
    .loader-modal{
        margin:auto;
        padding:50px;
        background: white;
        border-radius: 15px;
        font-size: 25px;
        font-weight:bold;
        text-align: center;
        .spinner{
            animation: spin 1s infinite;
            display: inline-block;
            transform-origin: 50% 50%;  
        }
    }
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);;
    }
}